@media only screen and (min-device-width: 813px) and (max-device-width: 1190px) {
    nav {
        margin: 0 auto;
        max-width: 750px;
    }
    .navigation {
        list-style: none;
        padding: 0;
    }
    .navigation li:first-child {
        display: block;
        position: static;
    }
    .navigation li {
        display: none;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        font-weight: 700;
    }
    .navigation a:hover {
        color: white;
    }
    header,
    footer {
        background-color: #8BBBD9;
        text-align: center;
    }
    .bigTitle {
        margin-left: 100px;
        margin-top: -50px;
    }
    h1 {
        color: #274B59;
        font: bold;
    }
    h3 {
        background-color: lightgrey;
        padding: 10px;
    }
    .responsive li {
        display: block;
    }
    a {
        color: #274B59;
        text-decoration: none;
    }
    .logo img {
        width: 70px;
        height: auto;
        margin-left: -100px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .burg {
        margin: .2rem 2%;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        color: #274B59;
    }
    nav ul.hide {
        display: none;
    }
    p {
        color: #122140;
        font-family: 'Open Sans', sans-serif
    }
    .contact {
        background-color: lightgrey;
    }
    .info {
        display: block;
    }
    .contact img {
        display: none;
    }
    #content {
        max-width: 650px;
        margin: auto;
        text-align: center;
    }
    .order {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 600px);
        grid-gap: 10px;
        grid-template-rows: repeat(3, 250px);
    }
    .city {
        grid-column: 1;
        grid-row: 1;
    }
    .storm {
        grid-column: 2;
        grid-row: 1;
    }
    .reinbow {
        grid-column: 1;
        grid-row: 2;
    }
    .sun {
        grid-column: 2;
        grid-row: 2;
    }
    .rain {
        grid-column: 1;
        grid-row: 3;
    }
    .green {
        grid-column: 2;
        grid-row: 3;
    }
}