@media only screen and (min-widht: 60em) {
    html,
    body {
        font-family: 'Roboto', sans-serif;
    }
    header,
    footer {
        background-color: #DC9596;
        border-block-color: #DC9596;
    }
    header {
        text-align: left;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .burg {
        display: none;
    }
    .navigation a:hover {
        color: #E2EB98;
    }
    .navtab {
        padding: 5px 20px;
    }
    .logo img {
        width: 100px;
        height: auto;
        float: left;
    }
    .bigTitle {
        margin-left: 110px;
        margin-top: -70px;
    }
    h1 {
        color: #353535;
        font: bold;
    }
    h2 {
        color: #7d70ba;
        font: bold;
    }
    p {
        color: #353535;
    }
    li {
        padding: 1.5em;
    }
    a {
        color: #353535;
        text-decoration: none;
    }
    body {
        text-align: center;
    }
}